{% load static %}<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ftUI</title>
    <script src="{% static "jquery.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "ftUI.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "ftUI.css" %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ftUI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "back_testing" %}">BackTesting</a>
            </li>
        </ul>
    </div>
</nav>
<div class="mx-4">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>