{% extends 'base_layout.html' %}

{% load crispy_forms_tags static %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <form class="mt-4 back-test-form" id="{{ form.id }}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success float-right" data-api-call="{% url "results" %}" data-api-call-tab="{% url "results_tab" %}" data-loading="{% static 'pacman.svg' %}">
                    Backtest
                </button>
            </form>
        </div>
        <div class="col-sm-9">
            <div class="result text-center"></div>
            <div class="result-tab text-center"></div>
        </div>
    </div>
{% endblock %}

